@font-face {
  font-family: 'Messina Sans Regular';
  src:
  url('../fonts/messina-sans-regular.woff2') format('woff2'),
  url('../fonts/messina-sans-regular.woff') format('woff'),
  url('../fonts/messina-sans-regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Messina Sans Bold';
  src:
  url('../fonts/messina-sans-bold.woff2') format('woff2'),
  url('../fonts/messina-sans-bold.woff') format('woff'),
  url('../fonts/messina-sans-bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gallery';
  src:
  url('../fonts/gallery.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
