@font-face {
  font-family: 'GT Haptik Regular';
  src: 
  url('../fonts/gt-haptik-regular.woff2') format('woff2'), 
  url('../fonts/gt-haptik-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Freight Display Book';
  src: 
  url('../fonts/freight-disp-book.woff2') format('woff2'), 
  url('../fonts/freight-disp-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gallery';
  src: 
  url('../fonts/gallery.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}