.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-clients {
  font-size: 5.5rem;
}

.icon-a-collected-man {
  width: 17.6572265625em;
  font-size: 0.75rem;
}

.icon-the-collectors-index {
  font-size: 4rem;
}

.icon-smythson {
  width: 3.232421875em;
  font-size: 2.5rem;
}

.icon-selfridges {
  width: 6.103515625em;
  font-size: 1.5rem;
}

.icon-longines {
  width: 4.1337890625em;
}

.icon-barbour {
  width: 5em;
  font-size: 1.25rem;
}

.icon-galvan {
  width: 3.0673828125em;
}

.icon-omega {
  width: 1.9970703125em;
  font-size: 1.75rem;
}

.icon-toni-and-guy {
  width: 6.6484375em;
  font-size: 0.5rem;
}

.icon-twitter {
  width: 0.9285714285714285em;
}

.icon-facebook {
  width: 0.5881428571428571em;
}

.icon-instagram {
  width: 0.8571428571428571em;
}


.icon-logo {
	font-size: 8rem;
}

.holding .icon-logo {
	font-size: 10rem;
}

.icon-play_arrow {
	font-size: 4rem;
}

.icon-call_made {
	font-size: 1.5rem;
}

.icon-brightness_1 {
	font-size: 1.5rem;
}


.icon-menu {
	font-size: 1.5rem;
}

.icon-sort {
	font-size: 1.5rem;
}

.icon-instagram {
	font-size: 1.5rem;
}

.icon-play-circle {
	font-size: 4rem;
}
