.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-clients {
  font-size: 5.5rem;
}

.icon-whatsapp {
  width: 1em;
}

.icon-twitter {
  width: 0.9285714285714285em;
}

.icon-facebook {
  width: 0.5881428571428571em;
}

.icon-instagram {
  width: 0.8571428571428571em;
}


.icon-logo {
	font-size: 8rem;
}

.holding .icon-logo {
	font-size: 10rem;
}

.icon-play_arrow {
	font-size: 4rem;
}

.icon-call_made {
	font-size: 1.5rem;
}

.icon-brightness_1 {
	font-size: 1.5rem;
}


.icon-menu {
	font-size: 1.5rem;
}

.icon-sort {
	font-size: 1.5rem;
}

.icon-instagram {
	font-size: 1.5rem;
}

.icon-play-circle {
	font-size: 4rem;
}
