//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Plugins
//   4. Color
//   5. Typography
//   6. Navigation
//   7. Off-canvas
//   8. Layout
//   9. Home
//   10. Menu / Food
//   11. Find Us
//   12. Story
//   13. Hire Us
//   14. Contact
//   15. Page
//   16. Footer


// 1. Mixins
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;
    }
  }
}

// 2. Global
// ---------

a {
  transition: all .35s cubic-bezier(.39, .575, .565, 1);
}

a:focus {
color: $dark-gray;
}

body {
  cursor: default;
  font-kerning: normal;
  margin: 0
}

svg {
  max-width: 100%;
}

span {
  color: $dark-gray;
  font-weight: bold;
  font-size: 125%;
}

::selection {
  background: $black;
  color: $white;
}

:focus {
  outline: 0;
}

li {
  font-size: 100%;
}


// 3. Mixin
// ----------

@mixin margin-three {
  margin-bottom: 3rem;
}

.padding-vertical-space-1 {
  @include breakpoint(small) {
    @include padding(1, null, 1, null);
  }
  @include breakpoint(medium) {
    @include padding(2, null, 2, null);
  }
  @include breakpoint(large) {
    @include padding(2, null, 2, null);
  }
}

.padding-space-1 {
  @include breakpoint(small) {
    @include padding(1, 1, 1, 1);
  }
  @include breakpoint(medium) {
    @include padding(3, 3, 3, 3);
  }
  @include breakpoint(large) {
    @include padding(5, 5, 5, 5);
  }
}

// 4. Color
// --------

.white {
  color: $white;
}

.medium-gray {
  color: $medium-gray;
  @include links ($medium-gray, $black);
}

.primary-color {
  color: get-color(primary);
}

.secondary-color {
  color: get-color(secondary);
}

.light-gray-background {
  background-color: $light-gray;
}

// 5. Typography
// -------------

.underline {
  border-bottom: 1px solid $white;
}

.uppercase {
  text-transform: uppercase;
}

.swiper-text-uppercase {
  font-size: 130%;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

p a {
  border-bottom: 1px solid $black;
}

.sans-bold {
  font-family: $sans-bold;
  font-weight: 700;
}

.sans-regular {
  font-family: $sans-regular;
}

// 6. Navigation
// -------------

.navigation {
  .cell {
	z-index: 14;
  }
}

.hamburger-inner {
  &,
  &::before,
  &::after {
    background-color: $black;
  }
}

// Extras

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
 .content {
    transition: $primary-transition;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
 .content-type {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
}

.image {
  @include aspect-ratio (16, 9);
  background-size: cover;
  background-position: 50%;
}

.slide {
  @include aspect-ratio (16, 9);
  background-size: cover;
  background-position: 50%;
}

/*
.work .image {
 .content {
    opacity: 0;
  }
  &:hover .content {
    background-color: rgba($black, 0.90);
    opacity: 1;
  }
}

.home .image {
 .content {
    opacity: 0;
  }
  &:hover .content {
    background-color: rgba($black, 0.90);
    opacity: 1;
  }
}
*/


.navigation{
  font-size: 1.25rem;
  span {
    color: $dark-gray;
    font-weight: 400;
  }
  @include breakpoint(small) {
    @include padding(1, 1, 1, 0);
  }
  @include breakpoint(medium) {
    @include padding(1, 1, 1, 1);
  }
  @include breakpoint(large) {
    @include padding(1, 2, 1, 1);
  }
}

/*
.swiper-slide-active {
  .content {
    display: none;
  }
  .content:hover {
    opacity: 1;
display: block;
  }
}
*/

.meta {
  opacity: 0;
  transition: $primary-transition;
}

.swiper-slide-prev {
  .content {
    opacity: 0
  }
  .meta {
    opacity: 0
  }
}

.swiper-slide-next {
  .content {
    opacity: 0
  }
  .meta {
    opacity: 0
  }
}

.swiper-slide-active {
  z-index: 1000;
  .content {
    opacity: 0;
    color: $white;
  }
  .content:hover {
    background-color: rgba(#000000, 0.75);
    opacity: 1
  }
  .meta {
  transition-delay: 0.5s;
    opacity: 1
  }
}

/* PAGE ANIMATIONS */
.swup-transition-fade-up {
  transition: 0.5s;
  opacity: 1;
  transform: translateY(0);
}
html.is-animating .swup-transition-fade-up {
  opacity: 0;
  transform: translateY(-10px);
}

.swup-transition-fade {
  transition: 0.5s;
  opacity: 1;
}
html.is-animating .swup-transition-fade {
  opacity: 0;
}

.swup-transition-color {
  transition: 0.5s;
  opacity: 1;
}
html.is-animating .swup-transition-color {
  opacity: 0;
}

.swiper-button-prev-test,
.swiper-button-next-test {
  position: absolute;
  top: 0;
  width: 20%;
  height: 80%;
  z-index: 10;
  &:hover {
    opacity: 0.85;
  }
}

.swiper-button-prev-test {
  left: 0rem;
  right: auto;
}
.swiper-button-next-test {
  right: 0rem;
  left: auto;
z-index: 1000;
}

.content p {
  font-size: 150%;
margin-bottom: 0
}

.work .image {
  .content {
    opacity: 0;
  }
  .content:hover {
    background-color: rgba(#000000, 0.5);
    opacity: 1;
    filter: grayscale(100%);
  }
}

.swiper-button-prev-test {
cursor: url('/assets/img/arrow-left.png') 16 16, auto !important;
cursor: -webkit-image-set(
url('/assets/img/arrow-left.png') 1x,
url('/assets/img/arrow-left@2x.png') 2x,
url('/assets/img/arrow-left@3x.png') 3x
) 16 16, auto !important;
}

.swiper-button-next-test {
cursor: url('/assets/img/arrow-right.png') 16 16, auto !important;
cursor: -webkit-image-set(
url('/assets/img/arrow-right.png') 1x,
url('/assets/img/arrow-right@2x.png') 2x,
url('/assets/img/arrow-right@3x.png') 3x
) 16 16, auto !important;
}

// 5. Loading
// ------

.loader {
  z-index: 1040;
  position: fixed;
  background: $white;
  color: $black;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: $primary-transition;
  visibility: visible;
  &.loading {
    opacity: 1;
  }
  &.loaded {
    opacity: 0;
    visibility: hidden;
  }
}

main {
  @include breakpoint(small only) {
    @include padding(1,1,1,1);
  }
}


.slider{
  font-family: "Messina Sans Regular";
  font-weight: bold;
	height: 600px;
	background-color: #293132;
	text-align: center;
	position: relative;
	animation: slideColor 10s forwards infinite;
  margin-bottom: 3rem;
}

.caption{
	line-height: 100px;
	font-size: 60px;
	color: #fff;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-shadow: 0px 5px 5px rgba(0,0,0,.25);
	margin-left: -300px;
}

.text-box{
	display: inline-block;
	position: relative;
  padding-left: 1rem;
}

.text-box div{
	display: inline-block;
	position: absolute;
	top: -200px;
	transform: rotateX(-90deg);
	opacity: 0;
	text-shadow: 0px 5px 5px rgba(0,0,0,.25);
	animation-timing-function: ease;
}

.text-box div:nth-child(1){
	animation: rollDown 10s forwards infinite;
}

.text-box div:nth-child(2){
	animation: rollDown2 10s forwards infinite;
}

.text-box div:nth-child(3){
	animation: rollDown3 10s forwards infinite;
}

@keyframes rollDown {
	0%{
		top: -200px;
		transform: rotateX(-90deg);
	}
	11%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	22%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	33%{
		top: 50px;
		transform: rotateX(30deg);
		opacity: 0;
	}
}

@keyframes rollDown2 {
	33%{
		top: -200px;
		transform: rotateX(-90deg);
	}
	44%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	55%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	66%{
		top: 50px;
		transform: rotateX(30deg);
		opacity: 0;
	}
}

@keyframes rollDown3 {
	66%{
		top: -200px;
		transform: rotateX(-90deg);
	}
	77%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	88%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	99%{
		top: 50px;
		transform: rotateX(30deg);
		opacity: 0;
	}
}

@keyframes slideColor{
	0%{
		background-color: #387780;
	}
	33%{
		background-color: #3f88c5;
	}
	66%{
		background-color: #588b8b;
	}
	100%{
		background-color: #387780;
	}
}


// video
.hero {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh;
  margin-bottom: 3rem;
  @include links ($white, $black)
}

.hero__arrow {
  @include padding(1.5,1.5,1.5,1.5);
  @include breakpoint(medium) {
    @include padding(2,2,2,2);
  }
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  @include links ($primary-color, $white)
}
.hero video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: $black;
}


.logo {
  top: rem-calc(20);
  @include horizontal-center;
  img {
    max-width: 92px;
  }
}

// Off-canvas
// -------------

.off-canvas {
  @include links ($black, $black);
}

// hero

.index__hero-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh;
  padding: 2rem;
}






// Footer

footer {
  background-color: $black;
  @include links ($white, $dark-gray);

}
