<div class="small-12 medium-6 {% if work.is-full-width %}medium-12{% endif %} cell text-center">
  <a href="{{ work.url }}">
    {% assign image = work.image %}
    <div class="margin-bottom-1 image" data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}">
      <div class="content grid-y align-center">
        <div class="shrink cell padding-1">

<!--
          <div class="grid-x align-center">
            <div class="small-10 medium-10 large-10 cell">
              <svg class="icon icon-brightness_1"><use xlink:href="/assets/icons/symbol-defs.svg#icon-brightness_1"></use></svg>
            </div>
          </div>
-->

        </div>
      </div>
    </div>

    <div class="text-lowercase">
    <div>{{ work.client }}</div>
    <div>{{ work.subject }}</div>
    </div>

  </a>
</div>
