<!-- Header -->
<header class="grid-x grid-padding-x grid-padding-y align-justify align-middle" id="maintest">

  <div class="shrink cell">
  <a data-toggle="navigation" ><svg class="icon icon-sort"><use xlink:href="/assets/icons/symbol-defs.svg#icon-sort"></use></svg></a>
  </div>

  <div class="shrink cell">
  <a href="/"><svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg></a>
  </div>

  <div class="shrink cell">
  <a href="https://www.instagram.com/borda_industrial/"><svg class="icon icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a>
  </div>


</header>
