
<!-- Navigation -->
<div class="navigation">

  <div class="grid-x grid-padding-x grid-padding-y align-justify">

    <div class="shrink cell">
      <a href="/"><span class="show-for-sr">Home</span>borda</a>
    </div>

    <div class="shrink cell text-right">
      <button class="hamburger hamburger--collapse" data-toggler=".is-active" id="toggle" aria-label="menu" type="button" data-toggle="offCanvas toggle">
        <span class="hamburger-box"><span class="hamburger-inner"></span></span>
      </button>
    </div>

  </div>

</div>
<!-- End Navigation -->
