<!-- Subscribe -->
<div class="grid-container margin-top-2 margin-bottom-2" data-aos="fade-in">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-11 medium-8 cell text-center">
      <form action="https://garethjohnsdesign.us2.list-manage.com/subscribe/post?u=e039fb7155e1e79ced51e3aff&amp;id=69043a24a2" method="post" class="validate" target="_blank" novalidate="">
        <div class="input-group">
          <input class="input-group-field" type="email" name="EMAIL" class="" id="mce-EMAIL" placeholder="signup@email.com">
          <div class="input-group-button"><input type="submit" class="button" value="Submit"></div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Subscribe -->